services:
  consultation:
    build:
      context: .
      dockerfile: dockerfiles/client.Dockerfile
      args:
        VITE_ENV: production
        VITE_VOTE_COLLECTOR_URL: http://localhost:${SERVER_PORT:-3001}
        VITE_PUBLIC_DAPP_DEFINITION_ADDRESS: ${VITE_PUBLIC_DAPP_DEFINITION_ADDRESS}
        VITE_PUBLIC_NETWORK_ID: ${VITE_PUBLIC_NETWORK_ID}
    ports:
      - "3000:3000"
    depends_on:
      - vote-collector
    networks:
      - default

  vote-collector:
    build:
      context: .
      dockerfile: dockerfiles/server.Dockerfile
    ports:
      - "${SERVER_PORT:-3001}:3001"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NETWORK_ID: ${NETWORK_ID}
      SERVER_PORT: 3001
      ENV: production
    restart: always
    networks:
      - default
